<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-light">
    <h1 class="title">Vos appréciations </h1>
  </ion-header-bar>
  
  <ion-content class="padding content-stable">
	 <h5 align="center" class="text-dark">
		Donnez-nous votre avis sur les candidats rencontrés lors de la soirée !
	</h5>

    <ul class="list card">

      <a align="center" class="item item-text-wrap" ng-click="loadPractice(1)">
		Business Transformation Banque et Assurance
      </a>
	  
	   <a align="center" class="item item-text-wrap" ng-click="loadPractice(2)">
		Business Transformation Energie, Transport, Telcos
      </a>
	  
	   <a align="center" class="item item-text-wrap" ng-click="loadPractice(3)">
		Excellence Opérationnelle
      </a>
	  
	  <a align="center" class="item item-text-wrap" ng-click="loadPractice(4)">
		Risk Management et Sécurité de l'Information
      </a>
	  
	   <a align="center" class="item item-text-wrap" ng-click="loadPractice(5)">
		Innovation Digitale
      </a>
	  
	   <a align="center" class="item item-text-wrap" ng-click="loadPractice(6)">
		Architecture des Systèmes d'Informations
      </a>
	  
	  <a align="center" class="item item-text-wrap" ng-click="loadPractice(7)">
		Direction Commerciale et Fonctions Transverses
      </a>

    </ul>
	
  </ion-content>
</ion-view>
